.product-card-container{
    
}
.product-card-container:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all linear 200ms;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
}
